version = 0.26.2
break-infix = fit-or-vertical
parse-docstrings = true
indicate-multiline-delimiters=no
nested-match=align
if-then-else=keyword-first
break-infix=wrap-or-vertical
break-collection-expressions=wrap
dock-collection-brackets=true
field-space=tight
